html{
    background-color: rgba(223, 223, 223, 0.082);    
    background: fixed repeat-x url(background.png);
}
body{
    background-color: white;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.082);
    max-width: 750px;
    padding: 22px;
    margin: 20px auto 10px;
}

h1{
    font-size: 2.75em;
    text-transform: uppercase;
    background-color: rgba(126, 126, 126, 0.829);
    color: white;
    padding: 0px 15px 2px 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 -22px 20px -22px;
}

h2{
    overflow: hidden;
    
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: #7E7E7E;
    border-top: 2px solid rgba(126, 126, 126, 0.233);
    border-bottom: 2px solid rgba(126, 126, 126, 0.226);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 15px 0 5px 0;
}

#banner{
    margin: 0 auto;
    max-width: 640px;
}

.sidebar{
    width: 30%;
    float: right;
    margin: 0px 10px;
    padding: 10px 20px;
    border: 1px solid #20BEDC;
    border-top: 20px solid #20BEDC;
    border-radius: 3px;
    color: rgb(106, 125, 129);
    background-color: rgba(77, 174, 219, 0.041);
    box-shadow: 0 10px 15px 5px rgba(112, 112, 112, 0.198);
}

.sidebar h2{
    /* margin-top: 0; */
    border: 0;
    color: #20BEDC;
}

.copyright{
    background-color: #7D7D7D;
    margin: 0 -22px -22px -22px;
    height: 5em;
    color: white;
    text-align: center;
    line-height: 5em;
}