header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.034);
    height: 63px;
    background-color: rgba(255, 255, 255, 0.609);
}
a{
    text-decoration: none;
}

.my-name{
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 63px;
    font-size: 40px;
    padding-left: 20px;
    font-family: 'Lobster';
    color: rgba(0, 0, 0, 0.609);
}
.my-name a{
    color: rgba(0, 0, 0, 0.678);
}

.main-nav{
    list-style-type: none;
    margin: 0;
    margin-right: 0;
    float: left;
    font-size: 17px;
    text-transform: uppercase;
}

.main-nav li{
    float: left;
    padding: 0 0 4px;
    margin-right: 40px;
}

.main-nav li a{
    border-bottom: 2px solid transparent;
    transition-property: All;
    transition-duration: .7s;
    color: rgba(0, 0, 0, 0.486);
    padding-bottom: 10px;
}

.main-nav li:first-of-type a{
    margin-right: 10px;
}
.main-nav-container{
    position: absolute;
    top: 22px;
    right: 10px;
}


.main-nav li a:hover{
    border-bottom: 2px solid rgba(0, 0, 0, 0.699);
    color: black;
    padding-bottom: 4px;

}


article{
    position: relative;
    margin: 120px auto 50px;
    max-width: 660px;
}

article h1{
    font-family: 'Lobster';
    font-size: 100px;
    text-align: center;
}

footer{
    min-height: 10em;
    line-height: 10em;
    text-align: center;
    background-color: rgba(76, 80, 102, 0.781);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
footer a{
    color: white;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 40px;
    text-align: center;
}

.subform{
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.63);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subform label{
    display: inline-block;
    width: 200px;
    padding-right: 50px;
    vertical-align: top;
    font-weight: bold;
}
.subform .radio-label{
    width: auto;
    padding-right: 20px;
}

input[type="text"],
select,
textarea{
    outline: none;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.199);
    width: 400px;
    transition: border-bottom;
    transition-duration: 1s;
}

input[type="text"]:focus,
select:focus,
textarea:focus{
    outline: none;
    border: 0;
    border-bottom: 2px solid rgba(83, 64, 255, 0.521);
    
}
select option{
    border: 0;
    background-color: #f8f6ff;
}

select option:hover{
    background-color: black;
    color: white; 
}

input[type="submit"]{
    width: 100%;
    margin-top: 30px;
    height: 40px;
    border-radius: 20px;
    border-width: 0;
    color: white;
    cursor: pointer;
    transition: all;
    transition-duration: 0.7s;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.377);
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

input[type="submit"]:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.541);
    transform: translateY(-10px);
}